.Parent {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  height: 100%;
  width: 100%;
  background-color: white;
}

.Parent-One {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 0em;
  height: 30em;
  background-color: white;
}

.Child-One {
  width: 15em;
  height: 5em;
  background-color: white;
}

.AMH {
  background-color: #E2D2D2;
  box-shadow: 2px 4px 8px black;
}
.GrandChild-One{
  width: 10em;
  height: 10em;
  padding-top: 15em;
  background-color: #E2D2D2;
}

.Parent-Two{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30em;
  height: 30em
  background-color: #E2D2D2;
}

.Child-Two{
  margin-top: -1em;
  width: 30em;
  height: 15em;
  background-color: gray;
}


.UnorderList-Two {
  background: white	;
  padding: 10px;
  box-shadow: 2px 4px 6px black;
         }

.UnorderList-Two .List-Two {
  background: #E2D2D2;
  color: black;

  margin-left: 35px;
  box-shadow: 2px 4px 3px black;

}

.List-Two  {
  height: 3em;
  background-color: purple;
  list-style: circle ;
  padding: 20px;
  list-style: none;
}

/*
.UnorderList-Two .List-Two-One {
  background: blue;
  color: black;

  margin-left: 35px;
  box-shadow: 2px 4px 3px black;
} */


.GrandChild-Two {
  width: 30em;
  height: 10em;
  background-color: white;
}
